<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/abc/css/bootstrap.min.css">
    <link rel="stylesheet" href="/abc/css/event.css">
    <link rel="stylesheet" href="/abc/css/registration.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="/abc/js/modernizer.js"></script>
</head>
</head>
<body>

    <% if (user.login=="true") { %>
        <% if(user.user_type=="Admin") {%>
            <% include ../common/adminheader.ejs %>
            <% } else { %>
                <% include ../common/user_header.ejs %>
            <% } %>
    <% } else { %>
    <% include ../common/header.ejs %>
    <% } %>
    <div id="wrapper">
        <div class="section">
            <div class="container">
                <div class="row m45">
                    <div class="col-md-12">
                        <div class="widget">
                            <div class="blog-single">
                                <form method="post">
                                    <div class="post-media wow fadeIn">
                                        <img src="/abc/images/single.jpg" alt="" class="img-responsive">
                                    </div>

                                    <div class="blog-desc">
                                        <h3 class="post-title">Learning Lost Type Patches</h3>
                                        <p class="lead">Travel Agency:</p>
                                        <p class="lead">Date: </p>
                                        <p class="lead">Place: </p>
                                        <p class="lead">Available Person Capacity: </p>
                                        <p class="lead">Cost per person: </p>

                                        <div class="form-label-group my-4">
                                            <input type="text" id="inputPerson" name="inputPerson" class="form-control" placeholder="How many person want to book?" required></p>
                                            <label for="inputPerson">Booking for person: (How many person want to book?)</label>
                                        </div>

                                        <div class="form-label-group my-4">
                                            <input type="text" id="inputPrice" name="inputPrice" class="form-control" placeholder="How many person want to book?" required></p>
                                            <label for="inputPrice">Estimated Price:</label>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <input type="submit" value="Book Now" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </form>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/abc/js/all.js"></script>
</body>
</html>