<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/abc/css/bootstrap.min.css">
    <link rel="stylesheet" href="/abc/css/home.css">
    <script src="/abc/js/modernizer.js"></script>
</head>
<body>

   <!--    header selected -->
     <% if (login=="true") { %>
     <% include ../common/user_header.ejs %>
     <% } else { %>
     <% include ../common/header.ejs %>
     <% } %>

    <div id="wrapper">
        <div class="section">
            <div class="container">
                <div class="row intro wow fadeIn">
                    <div class="col-md-12 text-center my-3">
                        <h1><strong>Events</strong></h1>
                        <p>Total Count</p>
                    </div>
                </div>

                <div id="da-thumbs" class="row da-thumbs portfolio wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">



                    <div class="post-media pitem item-w1 item-h1">
                        <a href="" title="">
                            <img src="/abc/images/portfolio_01.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Lost Friends <strong>Ryan Lewis</strong> <small>Ryan Lewis</small> </h3>
                            </div>
                        </a>
                    </div>

                    <div class="post-media pitem item-w1 item-h1 cat2">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_02.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Succulents <strong>Chris Ota</strong><small>Chris Ota</small></h3>
                            </div>
                        </a>
                    </div>

                    <div class="post-media pitem item-w1 item-h1 cat1">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_03.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Realistic Gold Iphone 7 <strong>Anthony Boyd</strong><small>Anthony Boyd</small></h3>
                            </div>
                        </a>
                    </div>









                     <div class="post-media pitem item-w1 item-h1 cat2">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_04.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Amy Winehouse <strong>Daniel Nolen</strong> <strong>Daniel Nolen</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat1">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_05.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Featured brands <strong>lifeasdave</strong><strong>Daniel Nolen</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat2">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_06.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Harry Potter <strong>Ayda Oz</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat1">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_07.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>App shop nike shoes <strong>tomas_pohl</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat2">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_08.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Eames chair <strong>Alessandra</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat1">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_12.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Daily UI #004 Calculator <strong>X5 Fisher</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat2">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_11.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Legoland Billboard <strong>Mel Moyer</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat1">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_09.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Featured brands <strong>lifeasdave</strong></h3>
                            </div>
                        </a>
                    </div>

                     <div class="post-media pitem item-w1 item-h1 cat2">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_10.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>B Icon <strong>jeonglayeong</strong></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/abc/js/all.js"></script>
    <script src="/abc/js/home.js"></script>
    <script src="/abc/js/hoverdir.js"></script>  
</body>
</html>