<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Messages | Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/abc/css/travel_agency.css">
    <link rel="stylesheet" type="text/css" href="/abc/css/registration.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini">
  
  <% include ../admin/header.ejs %>

  <% include ../admin/sidenav.ejs %>
  
    <main class="app-content">

      <div class="app-title">
        <div>
          <h1>Messages</h1>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                          <th> </th>
                          <th> </th>
                          <th> <a href="/admin/sendmessage"> <button class="btn btn-lg btn-block" type="submit">Send Message</button></a> </th>
                        </tr>
                      </thead>
                    <thead>
                    <tr>
                      <th>Email</th>
                      <th>Message</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>
                        <a href="/admin/message"> <button class="btn btn-lg btn-block" type="submit">Reply</button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/abc/js/jquery-3.3.1.min.js"></script>
    <script src="/abc/js/popper.min.js"></script>
    <script src="/abc/js/bootstrap.min.js"></script>
    <script src="/abc/js/main.js"></script>
  </body>
</html>