<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notification | Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/abc/css/travel_agency.css">
    <link rel="stylesheet" type="text/css" href="/abc/css/registration.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini">
  
  <% include ../admin/header.ejs %>

  <% include ../admin/sidenav.ejs %>
  
    <main class="app-content">

      <div class="app-title">
          
        <div>
          <h1>Notification</h1>
        </div>
          
      </div>

      
      <% for(var i=0; i < data.length; i++){ %>
      <div class="alert alert-info">
        <strong><a href="/admin/pendingevents">"<%= data[i].tittle %>"</a> </strong>&nbsp event is offered by  <%= data[i].postby %> from <%= data[i].agencyname %>. Item is on pending list.
      </div>
      <% } %>


    </main>
    <script src="/abc/js/jquery-3.3.1.min.js"></script>
    <script src="/abc/js/popper.min.js"></script>
    <script src="/abc/js/bootstrap.min.js"></script>
    <script src="/abc/js/main.js"></script>
  </body>
</html>