<!DOCTYPE html>
<html>
	<head>
		<title>Registration page</title>
		<link rel="stylesheet" href="/abc/css/bootstrap.min.css">
		<script src="/abc/js/bootstrap.bundle.min.js"></script>
		<script src="/abc/js/jquery.slim.min.js"></script>
		<link rel="stylesheet" href="/abc/css/registration.css">
	</head>
	<body>
		<div class="label col-12 text-center">
		    <a href="/home"><img class="label-image my-3" src="/abc/images/logo.png" height="160" width="160"></a>
		 </div>

		<div class="container-fluid">
			<div class="row">
				<div class="table-data1 text-center col-sm-9 col-md-6 col-lg-6">
					<div class="data1">
						<a class="label-anchor text-white my-5" href="/registration/freaks"><img class="label-image my-4" src="/abc/images/freaks.png" height="150" width="150"> </br> Register as Freaks</a>
					</div>
					<p class="paragraph justify-content-center text-white my-4">Freaks</p>
				</div>

				<div class="table-data2 text-center col-sm-9 col-md-6 col-lg-6">
					<div class="data2">
						<a class="label-anchor text-white my-5" href="/registration/agencies"><img class="label-image my-4" src="/abc/images/agencies.png" height="150" width="150"> </br> Register as Agencies</a>
					</div>
					<p class="paragraph justify-content-center text-white my-4">Travel Agency</p>
				</div>

			</div>
		</div>
	</body>
</html>