<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" href="/abc/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="/abc/css/all.css"> -->
	<script src="/abc/js/bootstrap.bundle.min.js"></script>
	<script src="/abc/js/jquery.slim.min.js"></script>
	<link rel="stylesheet" href="/abc/css/login.css">
	
</head>
 <body>
     
	<div class="container-fluid">
		<header class="jumbotron">
			<h1> WELLCOME TO HOME</h1>
		
		</header>	
         <a href="/logout">logout</a>
		</div>

 </body>
</html>
