<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/abc/css/travel_agency.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini">
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/abc/images/freaks.png" alt="User Image" height="50px" width="50px" style=" border-radius: 50%;">
        <div>
          <p class="app-sidebar__user-name"><%=name%></p>
          <p class="app-sidebar__user-designation"><%=user_type%></p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item" href="/travel_agency"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Profile</span></a></li>
        <li><a class="app-menu__item" href="/travel_agency/edit_profile"><i class="app-menu__icon fa fa-user"></i><span class="app-menu__label">Edit Profile</span></a></li>
        <li><a class="app-menu__item" href="/travel_agency/offer_events"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Offer Events</span></a></li>
        <li><a class="app-menu__item" href="/travel_agency/edit_events"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Edit Events</span></a></li>
        <li><a class="app-menu__item" href="/travel_agency/delete_events"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Delete Events</span></a></li>
        <li><a class="app-menu__item" href="/travel_agency/history"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">History</span></a></li>
        <li><a class="app-menu__item" href="/travel_agency/messages"><i class="app-menu__icon fa fa-inbox"></i><span class="app-menu__label">Messages</span></a></li>
        <li><a class="app-menu__item" href="/travel_agency/notifications"><i class="app-menu__icon fa fa-bell"></i><span class="app-menu__label">Notifications</span></a></li>
      </ul>
    </aside>
    <script src="/abc/js/jquery-3.3.1.min.js"></script>
    <script src="/abc/js/popper.min.js"></script>
    <script src="/abc/js/bootstrap.min.js"></script>
    <script src="/abc/js/main.js"></script>
  </body>
</html>