<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>

<h1>Register for Traveler'S</h1>
<h2> Sign up as - </h2>
	
	<form method="post">
	<table>
		<tr>
			<td><a href="/registration/freaks">Freaks</a></td>
		</tr>
		<tr>
			<td><a href="/registration/agency">Agency</a></td>
		</tr>

		
	</table>
</form>





</body>
</html>