<!DOCTYPE html>
<html>
<head>
	<title>Registration page</title>
	<link rel="stylesheet" href="/abc/css/bootstrap.min.css">
	<script src="/abc/js/bootstrap.bundle.min.js"></script>
	<script src="/abc/js/jquery.slim.min.js"></script>
	<link rel="stylesheet" href="/abc/css/registration.css">
</head>
<body>
	<form method="post">
	<div class="label col-12 text-center">
	    <a href=""><img class="label-image my-3" src="/abc/images/logo.png" height="160" width="160"></a>
	 </div>

	    <table border="1">
			<tr>
				<td>Full Name: 

					<img src="">






				</td>
				
				<td>
					






				</td>
			</tr>
			

		</table>





</body>