<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Blog</title>
    <link rel="stylesheet" type="text/css" href="/abc/css/freaks.css">
    <link rel="stylesheet" type="text/css" href="/abc/css/registration.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini">
  
  <% include ../freaks/header.ejs %>

  <% include ../freaks/sidenav.ejs %>
  
    <main class="app-content">

      <div class="app-title">
        <div>
          <h1>Edit Blog</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card card-signin my-4">
            <div class="card-body">
              <form class="form-signin" method="post">
                <div class="form-label-group my-4">
                  
                    
                    
                    <input type="text" id="inputTittle" name="inputTittle" class="form-control" placeholder="Name" value="<%=blog.title%>" required>
                  <label for="inputTittle">Tittle</label>
                </div>

                <div class="form-label-group my-4">
                  <input type="text" id="inputLocation" name="inputLocation" value="<%=blog.location%>" class="form-control" placeholder="inputLocation" required>
                  <label for="inputLocation">Location</label>
                </div>


                <div class="form-label-group my-4">
                  <textarea class="form-control"   id="inputDescription" name="inputDescription" placeholder="Description" rows="10" required><%=blog.description%></textarea>
                  <label for="inputDescription"></label>
                </div>

                <div class="form-label-group my-4">
                  <input id="inputImage" name="inputImage" value="<%=blog.image%>" class="form-control" type="file">
                </div>

                <button class="btn btn-lg btn-block my-4" type="submit">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/abc/js/jquery-3.3.1.min.js"></script>
    <script src="/abc/js/popper.min.js"></script>
    <script src="/abc/js/bootstrap.min.js"></script>
    <script src="/abc/js/main.js"></script>
  </body>
</html>