<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pin Post</title>
    <link rel="stylesheet" href="/abc/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/abc/css/freaks.css">
    <link rel="stylesheet" type="text/css" href="/abc/css/blog.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini">
  
  <% include ../freaks/header.ejs %>

  <% include ../freaks/sidenav.ejs %>
  
    <main class="app-content">

      <div class="app-title">
        <div>
          <h1>Pin Post</h1>
        </div>
      </div>

      
      <div id="wrapper">
        <div class="section">
            <div class="container">
                <div id="da-thumbs" class="row da-thumbs portfolio wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">


                    <div class="post-media pitem item-w1 item-h1">
                        <a href="/blog/blog_details" title="">
                            <img src="/abc/images/portfolio_01.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Lost Friends <strong>Ryan Lewis</strong> <small>Ryan Lewis</small> </h3>
                            </div>
                        </a>
                    </div>
                    
                    <div class="post-media pitem item-w1 item-h1 cat2">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_02.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Succulents <strong>Chris Ota</strong><small>Chris Ota</small></h3>
                            </div>
                        </a>
                    </div>

                    <div class="post-media pitem item-w1 item-h1 cat1">
                        <a href="single-porfolio.html" title="">
                            <img src="/abc/images/portfolio_03.jpg" alt="" class="img-responsive">
                            <div>
                                <h3>Realistic Gold Iphone 7 <strong>Anthony Boyd</strong><small>Anthony Boyd</small></h3>
                            </div>
                        </a>
                    </div>

                    
                </div>    
            </div>
        </div>
    </div>

    </main>
    <script src="/abc/js/jquery-3.3.1.min.js"></script>
    <script src="/abc/js/popper.min.js"></script>
    <script src="/abc/js/main.js"></script>
    <script src="/abc/js/all.js"></script>
    <script src="/abc/js/home.js"></script>
    <script src="/abc/js/hoverdir.js"></script>  
    
  </body>
</html>